Handling Categorical/Qualitative variables is an important step in data preprocessing.Many Machine learning algorithms can not handle categorical variables by themself unless we convert them to numerical values.<br>
And performance of ML algorithms is based on how Categorical variables are encoded.
The results produced by the model varies from different encoding techniques used.

Categorical variables can be divided into two categories:<br>
1. Nominal (No particular order) 
2. Ordinal (some ordered).

There are many ways we can encode these categorical variables.


1. One Hot Encoding
2. Label Encoding
3. Frequency or Count Encoding
4. Binary Encoding
5. Mean Encoding or Target Encoding

In [31]:
# We are gonna use following libraries to perform encoding.
# !pip install scikit-learn
# !pip install category-encoders

In [1]:
import pandas as pd , numpy as np
import category_encoders as ce

In [8]:
data = {'Temperature':['Hot','Cold','Very Hot','Warm','Hot','Warm','Warm','Hot','Hot','Cold'],
        'Color':['Red','Yellow','Blue','Blue','Red','Yellow','Red','Yellow','Yellow','Yellow'],
        'Target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data)
df.iloc[-1] = [np.nan, 'Blue', 0]
df

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9         NaN    Blue       0

In [3]:
df['Temperature'].unique()

array(['Hot', 'Cold', 'Very Hot', 'Warm'], dtype=object)

# 1. One Hot Encoding

In this technique, it creates a new column/feature for each category in the Categorical Variable and replaces with either 1 (presence of the feature) or 0 (absence of the feature). The number of column/feature depends on the number of categories in the Categorical Variable.This method slows down the learning process significantly if the number of the categories are very high.

In [14]:
# Using get_dummies method in pandas
df_ohe = df.copy()
one_hot_1 = pd.get_dummies(df_ohe, prefix = 'Temp' , columns=['Temperature'], drop_first=True)

# one_hot_1.insert(loc=2, column='Temperature', value=df.Temperature.values)

one_hot_1

    Color  Target  Temp_Hot  Temp_Very Hot  Temp_Warm
0     Red       1         1              0          0
1  Yellow       1         0              0          0
2    Blue       1         0              1          0
3    Blue       0         0              0          1
4     Red       1         1              0          0
5  Yellow       0         0              0          1
6     Red       1         0              0          1
7  Yellow       0         1              0          0
8  Yellow       1         1              0          0
9    Blue       0         0              0          0

In [11]:
# Using OneHotEncoder in sklearn
from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder(drop='first')
ohe = OneHotEncoder()
oh_array = ohe.fit_transform(df['Temperature'].values.reshape(-1, 1)).toarray()

In [12]:
oh_df = pd.DataFrame(oh_array,columns=['Temp_Cold','Temp_Hot','Temp_Very_Hot','Temp_Warm'])

pd.concat([df,oh_df],axis=1)

  Temperature   Color  Target  Temp_Cold  Temp_Hot  Temp_Very_Hot  Temp_Warm
0         Hot     Red       1        0.0       1.0            0.0        0.0
1        Cold  Yellow       1        1.0       0.0            0.0        0.0
2    Very Hot    Blue       1        0.0       0.0            1.0        0.0
3        Warm    Blue       0        0.0       0.0            0.0        1.0
4         Hot     Red       1        0.0       1.0            0.0        0.0
5        Warm  Yellow       0        0.0       0.0            0.0        1.0
6        Warm     Red       1        0.0       0.0            0.0        1.0
7         Hot  Yellow       0        0.0       1.0            0.0        0.0
8         Hot  Yellow       1        0.0       1.0            0.0        0.0
9        Cold  Yellow       1        1.0       0.0            0.0        0.0

In [8]:
# Using category_encoders OneHotEncoder
import category_encoders as ce
ohe = ce.OneHotEncoder(cols=['Temperature'])
ce_ohe = ohe.fit_transform(df.iloc[:,0], df.iloc[:,-1])
ce_ohe.columns = ['Temp_Hot','Temp_Cold','Temp_Very_Hot','Temp_Warm']
pd.concat([df,ce_ohe],axis=1)

  Temperature   Color  Target  Temp_Hot  Temp_Cold  Temp_Very_Hot  Temp_Warm
0         Hot     Red       1         1          0              0          0
1        Cold  Yellow       1         0          1              0          0
2    Very Hot    Blue       1         0          0              1          0
3        Warm    Blue       0         0          0              0          1
4         Hot     Red       1         1          0              0          0
5        Warm  Yellow       0         0          0              0          1
6        Warm     Red       1         0          0              0          1
7         Hot  Yellow       0         1          0              0          0
8         Hot  Yellow       1         1          0              0          0
9        Cold  Yellow       1         0          1              0          0

1. For Regression, we can use N-1 (drop first or last column of One Hot Coded new feature ), 
2. For classification, the recommendation is to use all N columns as most of the tree-based algorithm builds a tree based on all available variables.

**Disadvantages:** 
1. Tree algorithms cannot be applied to one-hot encoded data since it creates a sparse matrix.
2. When the feature contains too many unique values, that many features are created which may result in overfitting.

# 2. Label Encoding

1. In this encoding, a unique value is assigned for different labels/categories.<br>
2. One major issue with sklearn.LabelEncoder is it assigns the values to the labels based on the Alphabetical order of the lables.<br>
Ex : Cold<Hot<Very Hot<Warm….0 < 1 < 2 < 3 

<img src="">

In [15]:
# Using sklearn LabelEncoder()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_ohe['Temperature_encoded'] = le.fit_transform(df.Temperature, )
df_ohe

  Temperature   Color  Target  Temperature_encoded
0         Hot     Red       1                    1
1        Cold  Yellow       1                    0
2    Very Hot    Blue       1                    2
3        Warm    Blue       0                    3
4         Hot     Red       1                    1
5        Warm  Yellow       0                    3
6        Warm     Red       1                    3
7         Hot  Yellow       0                    1
8         Hot  Yellow       1                    1
9         NaN    Blue       0                    4

In [14]:
le.fit_transform(df.Temperature)

array([1, 0, 2, 3, 1, 3, 3, 1, 1, 0])

In [15]:
# Using Pandas factorize()
fact = df.copy()
fact['Temperature_factor'] = pd.factorize(df.Temperature)[0]
fact

  Temperature   Color  Target  Temperature_factor
0         Hot     Red       1                   0
1        Cold  Yellow       1                   1
2    Very Hot    Blue       1                   2
3        Warm    Blue       0                   3
4         Hot     Red       1                   0
5        Warm  Yellow       0                   3
6        Warm     Red       1                   3
7         Hot  Yellow       0                   0
8         Hot  Yellow       1                   0
9        Cold  Yellow       1                   1

In [16]:
pd.factorize(df.Temperature)[0]

array([0, 1, 2, 3, 0, 3, 3, 0, 0, 1], dtype=int64)

**Disadvantages:** 
1. It mis-leads the information by assigning values based on Alphabetical order instead of actual label order.

# 4. Frequency or Count Encoder

In frequency encoding, each of the categories in the feature is replaced with the frequencies of categories.<br>
Here frequency of the categories is related somewhat with the target variable, it helps the model to understand and assign the weight in direct and inverse proportion, depending on the nature of the data.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKkUOZ2NAMqjYeE2gpKAV0zTkxLQDKF1xkYQ&usqp=CAU">

Category refers to each of the unique values in a feature.
1. **Frequency(category)** = Number of values in that category
2. **Size(data)** = Size of the entire dataset.

In [17]:
df.groupby('Temperature').size()/ len(df)

Temperature
Cold        0.2
Hot         0.4
Very Hot    0.1
Warm        0.3
dtype: float64

In [20]:
df.groupby('Temperature').size()

Temperature
Cold        2
Hot         4
Very Hot    1
Warm        3
dtype: int64

In [16]:
df.groupby('Temperature').count()[['Color']]/len(df)

             Color
Temperature
Cold           0.1
Hot            0.4
Very Hot       0.1
Warm           0.3

In [23]:
# Using Pandas groupby()
cat_freq = df.groupby('Temperature').size() / len(df)
df['Temp_Freq_Enc'] = df.Temperature.map(cat_freq)
df

  Temperature   Color  Target  Temp_Freq_Enc
0         Hot     Red       1            0.4
1        Cold  Yellow       1            0.2
2    Very Hot    Blue       1            0.1
3        Warm    Blue       0            0.3
4         Hot     Red       1            0.4
5        Warm  Yellow       0            0.3
6        Warm     Red       1            0.3
7         Hot  Yellow       0            0.4
8         Hot  Yellow       1            0.4
9        Cold  Yellow       1            0.2

In [24]:
df.iloc[:,-1]

0    0.4
1    0.2
2    0.1
3    0.3
4    0.4
5    0.3
6    0.3
7    0.4
8    0.4
9    0.2
Name: Temp_Freq_Enc, dtype: float64

In [25]:
# Using category_encoders CountEncoder
import category_encoders as ce
ce = ce.CountEncoder(cols=['Temperature'])
df['Temp_Count_Enc'] = ce.fit_transform(df.iloc[:,0], df.iloc[:,-1])
df

  Temperature   Color  Target  Temp_Freq_Enc  Temp_Count_Enc
0         Hot     Red       1            0.4               4
1        Cold  Yellow       1            0.2               2
2    Very Hot    Blue       1            0.1               1
3        Warm    Blue       0            0.3               3
4         Hot     Red       1            0.4               4
5        Warm  Yellow       0            0.3               3
6        Warm     Red       1            0.3               3
7         Hot  Yellow       0            0.4               4
8         Hot  Yellow       1            0.4               4
9        Cold  Yellow       1            0.2               2

**Disadvantage**:
1. If two categories have the same frequency then it is hard to distinguish between them.

# 5. Binary Encoding

1. It similar to onehot, but stores categories as binary bitstrings i.e., each binary bitstring creates one feature column.
2. Compared to One Hot Encoding, this will require fewer feature columns (for 100 categories, One Hot Encoding will have 100 features while for Binary encoding, we will need just seven features).<br>

**Feature -> ordinal encoding -> binary code -> digits of the binary code to separate columns.**

In [17]:
import category_encoders as ce
be = ce.BinaryEncoder(cols=['Temperature'])
be_df = be.fit_transform(df['Temperature'])
pd.concat([df,be_df],axis=1)

  Temperature   Color  Target  Temperature_0  Temperature_1  Temperature_2
0         Hot     Red       1              0              0              1
1        Cold  Yellow       1              0              1              0
2    Very Hot    Blue       1              0              1              1
3        Warm    Blue       0              1              0              0
4         Hot     Red       1              0              0              1
5        Warm  Yellow       0              1              0              0
6        Warm     Red       1              1              0              0
7         Hot  Yellow       0              0              0              1
8         Hot  Yellow       1              0              0              1
9         NaN    Blue       0              1              0              1

# 6. Mean Encoding or Target Encoding

1. It has become the most popular encoding type because of Kaggle competitions.
2. It takes information about the target to encode categories, which makes it extremely powerful.
3. In Target Encoding, labels are correlated directly with the target.i.e., for each category in the feature label is decided with the mean value of the target variable on a training data.<br>
Here, mdl — min data (samples) in leaf,<br> 
a — smoothing parameter, representing the power of regularization.<br>

In [27]:
import warnings 
warnings.filterwarnings('ignore')

In [28]:
# Using category_encoders TargetEncoder
import category_encoders as ce
te = ce.TargetEncoder(cols=['Temperature'])
df['Temperature_ce_TarEnc'] = te.fit_transform(df['Temperature'],df.Target)
df

,Temperature,Color,Target,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc
0,Hot,Red,1,0.4,4,0.747629
1,Cold,Yellow,1,0.2,2,0.919318
2,Very Hot,Blue,1,0.1,1,0.700000
3,Warm,Blue,0,0.3,3,0.377041
4,Hot,Red,1,0.4,4,0.747629
5,Warm,Yellow,0,0.3,3,0.377041
6,Warm,Red,1,0.3,3,0.377041
7,Hot,Yellow,0,0.4,4,0.747629
8,Hot,Yellow,1,0.4,4,0.747629
9,Cold,Yellow,1,0.2,2,0.919318

In [29]:
df.groupby('Temperature')['Target'].mean()

Temperature
Cold        1.000000
Hot         0.750000
Very Hot    1.000000
Warm        0.333333
Name: Target, dtype: float64

In [30]:
# Using Pandas groupby()
tar_enc = df.groupby('Temperature')['Target'].mean()
# print(tar_enc)
df['Temperature_tar_enc'] = df['Temperature'].map(tar_enc)
df

,Temperature,Color,Target,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_tar_enc
0,Hot,Red,1,0.4,4,0.747629,0.750000
1,Cold,Yellow,1,0.2,2,0.919318,1.000000
2,Very Hot,Blue,1,0.1,1,0.700000,1.000000
3,Warm,Blue,0,0.3,3,0.377041,0.333333
4,Hot,Red,1,0.4,4,0.747629,0.750000
5,Warm,Yellow,0,0.3,3,0.377041,0.333333
6,Warm,Red,1,0.3,3,0.377041,0.333333
7,Hot,Yellow,0,0.4,4,0.747629,0.750000
8,Hot,Yellow,1,0.4,4,0.747629,0.750000
9,Cold,Yellow,1,0.2,2,0.919318,1.000000

Advantage :
1. It does not affect the volume of the data and helps in faster learning.

Disadvantage :
1.   Target leakage: it uses information about the target. Because of the target leakage, model overfits the training data which results in unreliable validation and lower test scores.<br>
**To reduce the effect of target leakage.**
1. Increase regularization
2. Add random noise to the representation of the category in train dataset (some sort of augmentation)
3. Use Double Validation (using other validation)