In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Read the data
df = pd.read_csv('online_retail.csv',parse_dates=['InvoiceDate'])

In [50]:
df.head(100)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,489441,22111,SCOTTIE DOG HOT WATER BOTTLE,48,2009-12-01 09:44:00,4.25,18087.0,United Kingdom
96,489442,21955,UNION JACK GUNS & ROSES DOORMAT,2,2009-12-01 09:46:00,6.75,13635.0,United Kingdom
97,489442,22111,SCOTTIE DOG HOT WATER BOTTLE,3,2009-12-01 09:46:00,4.95,13635.0,United Kingdom
98,489442,22296,HEART IVORY TRELLIS LARGE,12,2009-12-01 09:46:00,1.65,13635.0,United Kingdom
99,489442,84899E,YELLOW + BROWN BEAR FELT PURSE KIT,12,2009-12-01 09:46:00,1.25,13635.0,United Kingdom

In [30]:
df.isnull().sum()
df.isnull().sum()
df.dropna(subset=['Description'],inplace=True)

In [34]:
df.Description

0          15CM CHRISTMAS GLASS BALL 20 LIGHTS
1                           PINK CHERRY LIGHTS
2                          WHITE CHERRY LIGHTS
3                 RECORD FRAME 7" SINGLE SIZE
4               STRAWBERRY CERAMIC TRINKET BOX
                          ...
1067366           CHILDREN'S APRON DOLLY GIRL
1067367          CHILDRENS CUTLERY DOLLY GIRL
1067368        CHILDRENS CUTLERY CIRCUS PARADE
1067369          BAKING SET 9 PIECE RETROSPOT
1067370                                POSTAGE
Name: Description, Length: 1062989, dtype: object

In [35]:
df['Description'] = df['Description'].str.strip()

In [36]:
df['Description'] = df['Description'].str.upper()

In [37]:
df['Description'].head(100)

0     15CM CHRISTMAS GLASS BALL 20 LIGHTS
1                      PINK CHERRY LIGHTS
2                     WHITE CHERRY LIGHTS
3             RECORD FRAME 7" SINGLE SIZE
4          STRAWBERRY CERAMIC TRINKET BOX
                     ...
95           SCOTTIE DOG HOT WATER BOTTLE
96       UNION JACK GUNS & ROSES  DOORMAT
97           SCOTTIE DOG HOT WATER BOTTLE
98              HEART IVORY TRELLIS LARGE
99     YELLOW + BROWN BEAR FELT PURSE KIT
Name: Description, Length: 100, dtype: object

In [38]:
df['Description'] = df['Description'].str.replace('[^a-zA-Z]',' ')

In [39]:
df['Description'].head(100)

0       CM CHRISTMAS GLASS BALL    LIGHTS
1                      PINK CHERRY LIGHTS
2                     WHITE CHERRY LIGHTS
3             RECORD FRAME    SINGLE SIZE
4          STRAWBERRY CERAMIC TRINKET BOX
                     ...
95           SCOTTIE DOG HOT WATER BOTTLE
96       UNION JACK GUNS   ROSES  DOORMAT
97           SCOTTIE DOG HOT WATER BOTTLE
98              HEART IVORY TRELLIS LARGE
99     YELLOW   BROWN BEAR FELT PURSE KIT
Name: Description, Length: 100, dtype: object

In [40]:
df['Description'] = df['Description'].str.replace(' +',' ')

In [41]:
df['Description'].head(100)

0       CM CHRISTMAS GLASS BALL LIGHTS
1                   PINK CHERRY LIGHTS
2                  WHITE CHERRY LIGHTS
3             RECORD FRAME SINGLE SIZE
4       STRAWBERRY CERAMIC TRINKET BOX
                    ...
95        SCOTTIE DOG HOT WATER BOTTLE
96       UNION JACK GUNS ROSES DOORMAT
97        SCOTTIE DOG HOT WATER BOTTLE
98           HEART IVORY TRELLIS LARGE
99    YELLOW BROWN BEAR FELT PURSE KIT
Name: Description, Length: 100, dtype: object

In [42]:
df['Description'] = df['Description'].str.strip()

In [43]:
df['Description'].head(100)

0       CM CHRISTMAS GLASS BALL LIGHTS
1                   PINK CHERRY LIGHTS
2                  WHITE CHERRY LIGHTS
3             RECORD FRAME SINGLE SIZE
4       STRAWBERRY CERAMIC TRINKET BOX
                    ...
95        SCOTTIE DOG HOT WATER BOTTLE
96       UNION JACK GUNS ROSES DOORMAT
97        SCOTTIE DOG HOT WATER BOTTLE
98           HEART IVORY TRELLIS LARGE
99    YELLOW BROWN BEAR FELT PURSE KIT
Name: Description, Length: 100, dtype: object

In [45]:
df['Invoice']=df['Country'].agg(lambda x: x[:2])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().