In [2]:
import pandas as pd

### This is the data given as a dictionary

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 1. Create a dataframe and assign it to a variable called army.

In [4]:
army=pd.DataFrame(raw_data)
army

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida
4,Dragoons,1st,43,4,1592,73,2,0,3,Maine
5,Dragoons,1st,234,7,1006,37,1,1,4,Iowa
6,Dragoons,2nd,523,8,987,949,2,0,24,Alaska
7,Dragoons,2nd,62,3,849,48,3,1,31,Washington
8,Scouts,1st,62,4,973,48,2,0,2,Oregon
9,Scouts,1st,73,7,1005,435,1,0,3,Wyoming
10,Scouts,2nd,37,8,1099,63,2,1,2,Louisana
11,Scouts,2nd,35,9,1523,345,3,1,3,Georgia

### Step 2. Set the 'origin' colum as the index of the dataframe

In [5]:
army=pd.DataFrame([raw_data,["a"])

AttributeError: 'list' object has no attribute 'keys'

### Step 3. Print only the column veterans

### Step 4. Print the columns 'veterans' and 'deaths'

### Step 5. Print the name of all the columns.

### Step 6. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

### Step 7. Select the rows 3 to 7 and the columns 3 to 6

### Step 8. Select every row after the fourth row and all columns

### Step 9. Select every row up to the 4th row and all columns

### Step 10. Select the 3rd column up to the 7th column

### Step 11. Select rows where df.deaths is greater than 50

### Step 12. Select rows where df.deaths is greater than 500 or less than 50

### Step 13. Select all the regiments not named "Dragoons"

### Step 14. Select the rows called Texas and Arizona

### Step 15. Select the third cell in the row named Arizona

### Step 16. Select the third cell down in the column named deaths