In [11]:
import pandas as pd 
import numpy as np
df=pd.read_csv('spot_2.csv',parse_dates=['block_timestamp'])
df=df.sort_values(by=['block_timestamp','transaction_index','log_index'])
df=df.reset_index()
df = df.drop(columns='index')
df

,block_number,block_timestamp,transaction_hash,transaction_index,log_index,gas_price_eth,gas_price,trx_initiator,trx_destination,event_name,token0_in,token1_in,token0_out,token1_out,from_address,to_address,value,spot_price
0,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,254,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,NaN,NaN,NaN,NaN,0x0000000000000000000000000000000000000000,0x38f600e08540178719bf656e6b43fc15a529c393,2.039680,NaN
1,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,257,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,NaN,NaN,NaN,NaN,0x38f600e08540178719bf656e6b43fc15a529c393,0xa308de214e01c365834e3344c1088b0d2b97559c,2.039680,NaN
2,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,258,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,NaN,NaN,NaN,NaN,0x38f600e08540178719bf656e6b43fc15a529c393,0xa308de214e01c365834e3344c1088b0d2b97559c,0.000000,NaN
3,16098999,2022-12-02 18:45:23,0x1e5f3558f0cb81f658a8b63c63ab9c423a96af78f604...,138,243,0.002794,15176686844,0xa308de214e01c365834e3344c1088b0d2b97559c,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,NaN,NaN,NaN,NaN,0xa308de214e01c365834e3344c1088b0d2b97559c,0xc1f33e0cf7e40a67375007104b929e49a581bafe,0.018413,NaN
4,16098999,2022-12-02 18:45:23,0x1e5f3558f0cb81f658a8b63c63ab9c423a96af78f604...,138,244,0.002794,15176686844,0xa308de214e01c365834e3344c1088b0d2b97559c,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,NaN,NaN,NaN,NaN,0xa308de214e01c365834e3344c1088b0d2b97559c,0x0000000000000000000000000000000000000000,1.841280,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2290,16708625,2023-02-25 23:42:59,0x543d334c465db36cf1c31ddac26153260e407287510b...,118,253,0.014515,17725536449,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,NaN,NaN,NaN,NaN,0x38f600e08540178719bf656e6b43fc15a529c393,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,212.016242,1.138575
2291,16708625,2023-02-25 23:42:59,0x543d334c465db36cf1c31ddac26153260e407287510b...,118,254,0.014515,17725536449,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,NaN,NaN,NaN,NaN,0x38f600e08540178719bf656e6b43fc15a529c393,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0.000000,1.138575
2292,16708642,2023-02-25 23:46:23,0xfc2126c5db6e2547411956aa3d7c80fdb2c8d401463a...,86,197,0.006168,19677438107,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,NaN,NaN,NaN,NaN,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0xc1f33e0cf7e40a67375007104b929e49a581bafe,2.475248,1.138575
2293,16708642,2023-02-25 23:46:23,0xfc2126c5db6e2547411956aa3d7c80fdb2c8d401463a...,86,198,0.006168,19677438107,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,NaN,NaN,NaN,NaN,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0x0000000000000000000000000000000000000000,247.524752,1.138575
2294,16708834,2023-02-26 00:25:23,0x9e4a27393724ef3aa49c527437f7a0b9524f573348ed...,142,271,0.005298,18509334122,0x17f5d60a362c4d652a87c7f0f94c35251b982580,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,Swap,5057.679941,NaN,NaN,4440.116309,NaN,NaN,NaN,1.139087

In [14]:
df

,block_number,block_timestamp,transaction_hash,transaction_index,log_index,gas_price_eth,gas_price,trx_initiator,trx_destination,event_name,...,value,spot_price,token0,token1,Spotprice,Volume,fee,Tvl,Apy,Apr
0,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,254,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,2.039680,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,257,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,2.039680,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,258,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,16098999,2022-12-02 18:45:23,0x1e5f3558f0cb81f658a8b63c63ab9c423a96af78f604...,138,243,0.002794,15176686844,0xa308de214e01c365834e3344c1088b0d2b97559c,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,0.018413,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,16098999,2022-12-02 18:45:23,0x1e5f3558f0cb81f658a8b63c63ab9c423a96af78f604...,138,244,0.002794,15176686844,0xa308de214e01c365834e3344c1088b0d2b97559c,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,1.841280,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2290,16708625,2023-02-25 23:42:59,0x543d334c465db36cf1c31ddac26153260e407287510b...,118,253,0.014515,17725536449,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,212.016242,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2291,16708625,2023-02-25 23:42:59,0x543d334c465db36cf1c31ddac26153260e407287510b...,118,254,0.014515,17725536449,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,0.000000,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2292,16708642,2023-02-25 23:46:23,0xfc2126c5db6e2547411956aa3d7c80fdb2c8d401463a...,86,197,0.006168,19677438107,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,2.475248,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2293,16708642,2023-02-25 23:46:23,0xfc2126c5db6e2547411956aa3d7c80fdb2c8d401463a...,86,198,0.006168,19677438107,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,247.524752,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2294,16708834,2023-02-26 00:25:23,0x9e4a27393724ef3aa49c527437f7a0b9524f573348ed...,142,271,0.005298,18509334122,0x17f5d60a362c4d652a87c7f0f94c35251b982580,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,Swap,...,NaN,1.139087,5057.679941,4440.116309,1.139087,5057.679941,15.17304,808198.270247,0.687594,0.685248

##TVL
Tvl is .. how it 1

In [12]:
df['token0']=df['token0_in'].fillna(0)+df['token0_out'].fillna(0)
df['token1']=df['token1_in'].fillna(0)+df['token1_out'].fillna(0)
df['Spotprice']=np.where(
        (df['event_name'] == 'Swap'), 
         (df['token0']/df['token1']), 
         np.where(
    (df['event_name'] == 'Increase liquidity') & (df['event_name'].shift(1) == 'Initialize'),
    (df['token0'] / df['token1']),np.nan))
df['Spotprice'] = df['Spotprice'].ffill()
df['Volume'] = np.where(
    (df['event_name'] == 'Swap') & (df['token0_in'].isna()),
    df['token1_in']*df['Spotprice'],
    np.where(
        (df['event_name'] == 'Swap') & (df['token1_in'].isna()), 
        df['token0_in'],np.nan)
        )
df['fee']=df['Volume']*0.003
df1 = df[df['event_name'] != 'Burn (Remove)']
df['Tvl']=np.cumsum((df1.fillna(0)['token0_in'] - df1.fillna(0)['token0_out']) + (df1.fillna(0)['token1_in'] - df1.fillna(0)['token1_out']) *df1.Spotprice)
# df1=df.resample('D',on='block_timestamp')[['fee','Volume','Tvl']].mean().reset_index()
df['Apy']=(((1+df['fee']/df['Tvl'])**365)-1)*100
df['Apr']=(df['fee']/df['Tvl'])*365*100
df

,block_number,block_timestamp,transaction_hash,transaction_index,log_index,gas_price_eth,gas_price,trx_initiator,trx_destination,event_name,...,value,spot_price,token0,token1,Spotprice,Volume,fee,Tvl,Apy,Apr
0,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,254,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,2.039680,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,257,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,2.039680,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,16098989,2022-12-02 18:43:23,0x61f80bdd947371d2e2a733095224c3791ef6a9d09c71...,142,258,0.014268,19526874139,0xa308de214e01c365834e3344c1088b0d2b97559c,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,16098999,2022-12-02 18:45:23,0x1e5f3558f0cb81f658a8b63c63ab9c423a96af78f604...,138,243,0.002794,15176686844,0xa308de214e01c365834e3344c1088b0d2b97559c,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,0.018413,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,16098999,2022-12-02 18:45:23,0x1e5f3558f0cb81f658a8b63c63ab9c423a96af78f604...,138,244,0.002794,15176686844,0xa308de214e01c365834e3344c1088b0d2b97559c,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,1.841280,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2290,16708625,2023-02-25 23:42:59,0x543d334c465db36cf1c31ddac26153260e407287510b...,118,253,0.014515,17725536449,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,212.016242,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2291,16708625,2023-02-25 23:42:59,0x543d334c465db36cf1c31ddac26153260e407287510b...,118,254,0.014515,17725536449,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0x38f600e08540178719bf656e6b43fc15a529c393,NaN,...,0.000000,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2292,16708642,2023-02-25 23:46:23,0xfc2126c5db6e2547411956aa3d7c80fdb2c8d401463a...,86,197,0.006168,19677438107,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,2.475248,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2293,16708642,2023-02-25 23:46:23,0xfc2126c5db6e2547411956aa3d7c80fdb2c8d401463a...,86,198,0.006168,19677438107,0x95116d1d589bcab3e0e48898f4ea4eb8edc6940a,0xc1f33e0cf7e40a67375007104b929e49a581bafe,NaN,...,247.524752,1.138575,0.000000,0.000000,1.138575,NaN,NaN,808198.270247,NaN,NaN
2294,16708834,2023-02-26 00:25:23,0x9e4a27393724ef3aa49c527437f7a0b9524f573348ed...,142,271,0.005298,18509334122,0x17f5d60a362c4d652a87c7f0f94c35251b982580,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,Swap,...,NaN,1.139087,5057.679941,4440.116309,1.139087,5057.679941,15.17304,808198.270247,0.687594,0.685248

In [15]:
df['token0']=df['token0_in'].fillna(0)+df['token0_out'].fillna(0) 
df['token1']=df['token1_in'].fillna(0)+df['token1_out'].fillna(0)
swap_mask = (df['event_name'] == 'Swap')
liquidity_mask = (df['event_name'] == 'Increase liquidity') & (df['event_name'].shift(1) == 'Initialize')

df['Spotprice'] = np.where(swap_mask, df['token0'] / df['token1'], 
                           np.where(liquidity_mask, df['token0'] / df['token1'], np.nan))
df['Spotprice'] = df['Spotprice'].ffill()

mask_1 = (df['event_name'] == 'Swap') & (df['token0_in'].isna())
mask_2 = (df['event_name'] == 'Swap') & (df['token1_in'].isna())
df['Volume'] = np.where(mask_1, df['token1_in'] * df['Spotprice'], 
                        np.where(mask_2, df['token0_in'], np.nan))

df['fee']=df['Volume']*0.003

df1 = df[df['event_name'] != 'Burn (Remove)']
df['Tvl']=np.cumsum((df1.fillna(0)['token0_in'] - df1.fillna(0)['token0_out']) + (df1.fillna(0)['token1_in'] - df1.fillna(0)['token1_out']) *df1.Spotprice)

df['Apy']=(((1+df['fee']/df['Tvl'])**365)-1)*100
df['Apr']=(df['fee']/df['Tvl'])*365*100

In [24]:
daily_first = df.groupby(df["block_timestamp"].dt.date).last().shift()
daily_last = df.groupby(df["block_timestamp"].dt.date).last()
daily_first.iloc[0]=df.iloc[0]
imp_loss=(abs(1-((2*(np.sqrt(daily_last['Spotprice']*daily_first['Spotprice'])))/(daily_last['Spotprice']+daily_first['Spotprice']))))*100
imp_loss=pd.DataFrame(imp_loss).reset_index()
imp_loss=imp_loss.rename(columns={'Spotprice': 'imp_loss','block_timestamp':'vaxt'})
imp_loss

          vaxt      imp_loss
0   2022-12-08           NaN
1   2022-12-09  3.529460e-02
2   2022-12-10  1.046038e-02
3   2022-12-11  1.806335e-04
4   2022-12-12  4.014862e-03
..         ...           ...
66  2023-02-12  4.639642e-04
67  2023-02-13  1.596223e-07
68  2023-02-14  1.783156e-06
69  2023-02-15  6.566772e-06
70  2023-02-16  3.843681e-06

[71 rows x 2 columns]

In [25]:
df['vaxt']=df['block_timestamp'].dt.date
df=pd.merge(df, imp_loss, on='vaxt', how='left')
df.drop('vaxt',inplace=True,axis=1)
df

,block_timestamp,transaction_hash,block_number,transaction_index,log_index,gas_price_eth,trx_initiator,trx_destination,event_name,token0_in,...,token1_out,token0,token1,Spotprice,Volume,fee,Tvl,Apy,Apr,imp_loss
0,2022-12-08 19:37:47,0x7807fe52329a771a1707bbaaa6d066f3134e158a1900...,16142126,185,472,0.105097,0xfe2321d7dfa492dfc39330e8b85e7c49161e7f98,0xc36442b4a4522e871399cd717abdd847ab11fe88,Initialize,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-12-08 19:37:47,0x7807fe52329a771a1707bbaaa6d066f3134e158a1900...,16142126,185,475,0.105097,0xfe2321d7dfa492dfc39330e8b85e7c49161e7f98,0xc36442b4a4522e871399cd717abdd847ab11fe88,Increase liquidity,28422.374461,...,NaN,28422.374461,25000.000000,1.136895,NaN,NaN,56844.748922,NaN,NaN,NaN
2,2022-12-08 19:38:35,0x4b55fb44121ffae6f17d880f0c46ab6963274b1899e1...,16142130,228,452,0.005761,0x6a0feb37e1b03ee1b599277a7cb57192b4890917,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,4.950369,...,4.340066,4.950369,4.340066,1.140621,4.950369,0.014851,56844.748922,0.009536,0.009536,NaN
3,2022-12-08 19:38:47,0x3e6ac2f5c4085615c04c495c7ec4d56965c793c87afa...,16142131,10,38,0.005782,0xab65c530a1017dca7c8610bed0493e0a68261640,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,128.166889,...,111.843736,128.166889,111.843736,1.145946,128.166889,0.384501,56844.748922,0.247192,0.246888,NaN
4,2022-12-08 19:39:35,0x9b9261342b02854a233cab7eab9c114dd8f81f39f6c2...,16142135,0,2,0.003156,0x607bd5bbc7c6a2111273b28d4309e5c04b024f00,0x46c4128981525aa446e02ffb2ff762f1d6a49170,Swap,1674.259198,...,1374.168622,1674.259198,1374.168622,1.218380,1674.259198,5.022778,56844.748922,3.277548,3.225124,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,2023-02-15 07:10:59,0x6b5f1df63a1aa5b4347f6273b9c80a5924f1950b6a22...,16632570,129,301,0.005879,0x51382c7e0ff4dd26683b3356f4fd1320f9cf3327,0xdd92062adf9f6edf528babe7f04804fe86424a74,Burn (Remove),NaN,...,7817.885267,1329.675726,7817.885267,1.133724,NaN,NaN,NaN,NaN,NaN,0.000007
790,2023-02-15 07:10:59,0x6b5f1df63a1aa5b4347f6273b9c80a5924f1950b6a22...,16632570,129,304,0.005879,0x51382c7e0ff4dd26683b3356f4fd1320f9cf3327,0xdd92062adf9f6edf528babe7f04804fe86424a74,Collect,NaN,...,7833.741476,1329.702983,7833.741476,1.133724,NaN,NaN,792391.059086,NaN,NaN,0.000007
791,2023-02-15 07:12:11,0x4b6ccc3cccad0f913d2148073b4aa451878231204e5f...,16632576,74,149,0.003798,0x51382c7e0ff4dd26683b3356f4fd1320f9cf3327,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,Swap,NaN,...,NaN,8877.496942,7836.060514,1.132903,8877.496942,26.632491,792391.059086,1.234310,1.226775,0.000007
792,2023-02-16 07:40:23,0x371f8202aac1e0bf50554f6f75f081bde3bc18454df0...,16639861,143,266,0.009314,0x9108813f22637385228a1c621c1904bbbc50dc25,0xa88800cd213da5ae406ce248380802bd53b47647,Swap,NaN,...,NaN,121.211071,107.046311,1.132324,121.211071,0.363633,792391.059086,0.016751,0.016750,0.000004
793,2023-02-16 11:18:23,0xadc4a43cd69650add134501711e03f7fc37d1a97958f...,16640942,19,31,0.005202,0xe6c4293235d11c9d241d6d204eb366f0afdbe3fa,0xef1c6e67703c7bd7107eed8303fbe6ec2554bf6b,Swap,NaN,...,NaN,634.443843,560.326629,1.132275,634.443843,1.903332,792391.059086,0.087712,0.087673,0.000004

In [31]:
df['Action']=np.where((df['event_name']=='Increase liquidity'),'Add',
    np.where(
    (df['event_name']=='Collect'),'Remove',np.nan))
df.iloc[1:50:,6:]

#ancaq collect increase 
# df[(df['event_name']=='Increase liquidity') | (df['event_name']=='Collect')]

,trx_initiator,trx_destination,event_name,token0_in,token1_in,token0_out,token1_out,token0,token1,Spotprice,Volume,fee,Tvl,Apy,Apr,imp_loss,Action
1,0xfe2321d7dfa492dfc39330e8b85e7c49161e7f98,0xc36442b4a4522e871399cd717abdd847ab11fe88,Increase liquidity,28422.374461,25000.000000,NaN,NaN,28422.374461,25000.000000,1.136895,NaN,NaN,56844.748922,NaN,NaN,NaN,Add
2,0x6a0feb37e1b03ee1b599277a7cb57192b4890917,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,4.950369,NaN,NaN,4.340066,4.950369,4.340066,1.140621,4.950369,0.014851,56844.748922,0.009536,0.009536,NaN,nan
3,0xab65c530a1017dca7c8610bed0493e0a68261640,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,128.166889,NaN,NaN,111.843736,128.166889,111.843736,1.145946,128.166889,0.384501,56844.748922,0.247192,0.246888,NaN,nan
4,0x607bd5bbc7c6a2111273b28d4309e5c04b024f00,0x46c4128981525aa446e02ffb2ff762f1d6a49170,Swap,1674.259198,NaN,NaN,1374.168622,1674.259198,1374.168622,1.218380,1674.259198,5.022778,56844.748922,3.277548,3.225124,NaN,nan
5,0xab65c530a1017dca7c8610bed0493e0a68261640,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,256.345906,NaN,NaN,197.113432,256.345906,197.113432,1.300499,256.345906,0.769038,56844.748922,0.495017,0.493799,NaN,nan
6,0x607bd5bbc7c6a2111273b28d4309e5c04b024f00,0x46c4128981525aa446e02ffb2ff762f1d6a49170,Swap,NaN,1374.168622,1691.983293,NaN,1691.983293,1374.168622,1.231278,1691.983293,5.075950,56844.748922,3.312812,3.259266,NaN,nan
7,0x1afa018d9be65b0eac856340d919c4526c168ff8,0x0000000000753a65f1917d8db21c8897e6af1979,Swap,1424.184182,NaN,NaN,1160.096518,1424.184182,1160.096518,1.227643,1424.184182,4.272553,56844.748922,2.781277,2.743405,NaN,nan
8,0x0b5052e01a28b205ceab7db3e5a8c32697bc01b5,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,640.860442,NaN,NaN,487.185893,640.860442,487.185893,1.315433,640.860442,1.922581,56844.748922,1.242119,1.234489,NaN,nan
9,0x1afa018d9be65b0eac856340d919c4526c168ff8,0x0000000000753a65f1917d8db21c8897e6af1979,Swap,NaN,1160.096518,1474.912124,NaN,1474.912124,1160.096518,1.271370,1474.912124,4.424736,56844.748922,2.881753,2.841122,NaN,nan
10,0x8cd9a395eeec6442dc6a85f053a4b0043259735a,0x1111111254eeb25477b68fb85ed929f73a960582,Swap,256.378048,NaN,NaN,208.695346,256.378048,208.695346,1.228480,256.378048,0.769134,56844.748922,0.495079,0.493861,NaN,nan
11,0x68cc21f7c777243d1a9c71c2349bfdccd8ca7b78,0xe8c060f8052e07423f71d445277c61ac5138a2e5,Swap,189.772037,NaN,NaN,152.172796,189.772037,152.172796,1.247083,189.772037,0.569316,56844.748922,0.366225,0.365558,NaN,nan
12,0x3f4c1aaad12df27dcda08b54c74512d5145cad69,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,1025.509773,NaN,NaN,790.021520,1025.509773,790.021520,1.298078,1025.509773,3.076529,56844.748922,1.995025,1.975439,NaN,nan
13,0x68cc21f7c777243d1a9c71c2349bfdccd8ca7b78,0xe8c060f8052e07423f71d445277c61ac5138a2e5,Swap,NaN,152.172796,201.752650,NaN,201.752650,152.172796,1.325813,201.752650,0.605258,56844.748922,0.389390,0.388636,NaN,nan
14,0xc7bf1bf8d639db5ae9c52c905747795752dc967a,0xe8c060f8052e07423f71d445277c61ac5138a2e5,Swap,318.550800,NaN,NaN,237.935158,318.550800,237.935158,1.338813,318.550800,0.955652,56844.748922,0.615506,0.613624,NaN,nan
15,0x5cf00981051d1b2089af349ef9e074420ad7ae82,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,2563.270007,NaN,NaN,1750.440958,2563.270007,1750.440958,1.464357,2563.270007,7.689810,56844.748922,5.061206,4.937625,NaN,nan
16,0xc7bf1bf8d639db5ae9c52c905747795752dc967a,0xe8c060f8052e07423f71d445277c61ac5138a2e5,Swap,NaN,237.935158,370.776788,NaN,370.776788,237.935158,1.558310,370.776788,1.112330,56844.748922,0.716777,0.714227,NaN,nan
17,0x1afa018d9be65b0eac856340d919c4526c168ff8,0x0000000000753a65f1917d8db21c8897e6af1979,Swap,694.066208,NaN,NaN,438.525268,694.066208,438.525268,1.582728,694.066208,2.082199,56844.748922,1.345932,1.336979,NaN,nan
18,0x67a66de57a6bd2f614a58de04b873bf421d399d3,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,3844.796886,NaN,NaN,2137.384228,3844.796886,2137.384228,1.798833,3844.796886,11.534391,56844.748922,7.686580,7.406230,NaN,nan
19,0x1afa018d9be65b0eac856340d919c4526c168ff8,0x0000000000753a65f1917d8db21c8897e6af1979,Swap,NaN,438.525268,853.170986,NaN,853.170986,438.525268,1.945546,853.170986,2.559513,56844.748922,1.657004,1.643463,NaN,nan
20,0xb5eaac5a8649142dcdd13f981767913bcdf7ee42,0xe8c060f8052e07423f71d445277c61ac5138a2e5,Swap,198.953752,NaN,NaN,103.446823,198.953752,103.446823,1.923247,198.953752,0.596861,56844.748922,0.383978,0.383244,NaN,nan
21,0x24d86dc4e75979e9b57861b7a0944cdf38d73de0,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,6412.450379,NaN,NaN,2827.857029,6412.450379,2827.857029,2.267601,6412.450379,19.237351,56844.748922,13.145237,12.352299,NaN,nan
22,0xb5eaac5a8649142dcdd13f981767913bcdf7ee42,0xe8c060f8052e07423f71d445277c61ac5138a2e5,Swap,NaN,103.446823,271.734373,NaN,271.734373,103.446823,2.626802,271.734373,0.815203,56844.748922,0.524810,0.523442,NaN,nan
23,0x4970197593ef5aed9d2c33409b953f5f9bb22563,0x00000000008c4fb1c916e0c88fd4cc402d935e7d,Swap,3767.762126,NaN,NaN,1319.803367,3767.762126,1319.803367,2.854791,3767.762126,11.303286,56844.748922,7.526932,7.257838,NaN,nan
24,0x9dda370f43567b9c757a3f946705567bce482c42,0xe592427a0aece92de3edee1f18e0157c05861564,Swap,2564.974066,NaN,NaN,783.758828,2564.974066,783.758828,3.272657,2564.974066,7.694922,56844.748922,5.064655,4.940908,NaN,nan
25,0x4970197593ef5aed9d2c33409b953f5f9bb22563,0x00000000008c4fb1c916e0c88fd4cc402d935e7d,Swap,NaN,1319.803367,4147.760645,NaN,4147.760645,1319.803367,3.142711,4147.760645,12.443282,56844.748922,8.316742,7.989828,NaN,nan
26,0xd876710fe1882969c3973307d36574c28de11401,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,3206.208385,NaN,NaN,1033.982015,3206.208385,1033.982015,3.100836,3206.208385,9.618625,56844.748922,6.370271,6.176117,NaN,nan
27,0xe81776157f160a817c8213ab43dd1176f35d9a7e,0x76b5a83c8c8097e7723eda897537b6345789b229,Swap,1748.269516,NaN,NaN,508.372214,1748.269516,508.372214,3.438956,1748.269516,5.244809,56844.748922,3.424878,3.367690,NaN,nan
28,0x8d51e49d30e32e4786e074b53dd5541ce2103e1e,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,642.310449,NaN,NaN,178.025677,642.310449,178.025677,3.607965,642.310449,1.926931,56844.748922,1.244947,1.237282,NaN,nan
29,0x6896a89c599e62efcec31d5e22848a680daa5b78,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,642.309237,NaN,NaN,173.599763,642.309237,173.599763,3.699943,642.309237,1.926928,56844.748922,1.244945,1.237280,NaN,nan
30,0xe81776157f160a817c8213ab43dd1176f35d9a7e,0x76b5a83c8c8097e7723eda897537b6345789b229,Swap,NaN,508.372214,1826.108052,NaN,1826.108052,508.372214,3.592069,1826.108052,5.478324,56844.748922,3.580056,3.517631,NaN,nan
31,0xc538c9b34523f14f8f422046857f6f8e5f28eb0f,0xe592427a0aece92de3edee1f18e0157c05861564,Swap,133.668718,NaN,NaN,38.245907,133.668718,38.245907,3.494981,133.668718,0.401006,56844.748922,0.257817,0.257486,NaN,nan
32,0x601103f3d539f908036e2491b4e5d4e86d3aa07d,0xe592427a0aece92de3edee1f18e0157c05861564,Swap,133.040121,NaN,NaN,37.863447,133.040121,37.863447,3.513682,133.040121,0.399120,56844.748922,0.256603,0.256275,NaN,nan
33,0x19dc7cfae2bff62b2483d91b3428726493b84912,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,1283.681762,NaN,NaN,355.267266,1283.681762,355.267266,3.613285,1283.681762,3.851045,56844.748922,2.503496,2.472755,NaN,nan
34,0xab65c530a1017dca7c8610bed0493e0a68261640,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,1282.393749,NaN,NaN,337.621851,1282.393749,337.621851,3.798314,1282.393749,3.847181,56844.748922,2.500953,2.470274,NaN,nan
35,0x87623a3cb948a1e1de1f13fe660eb2c96a52a6bc,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,164.475189,NaN,NaN,42.116486,164.475189,42.116486,3.905245,164.475189,0.493426,56844.748922,0.317329,0.316828,NaN,nan
36,0x74bc89a9e831ab5f33b90607dd9eb5e01452a064,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,150.000000,NaN,NaN,38.181942,150.000000,38.181942,3.928559,150.000000,0.450000,56844.748922,0.289362,0.288945,NaN,nan
37,0xb58555fcba6479fced7de1485eb054943a09af7b,0x00000000003b3cc22af3ae1eac0440bcee416b40,Swap,929.259175,NaN,NaN,231.804962,929.259175,231.804962,4.008798,929.259175,2.787778,56844.748922,1.806104,1.790031,NaN,nan
38,0x4e27eacc66030fa6fa2cd1016c45ae9adcb6097c,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,1923.501281,NaN,NaN,455.308712,1923.501281,455.308712,4.224609,1923.501281,5.770504,56844.748922,3.774544,3.705239,NaN,nan
39,0xb58555fcba6479fced7de1485eb054943a09af7b,0x00000000003b3cc22af3ae1eac0440bcee416b40,Swap,NaN,231.804482,990.211096,NaN,990.211096,231.804482,4.271751,990.211096,2.970633,56844.748922,1.925700,1.907443,NaN,nan
40,0x9dda370f43567b9c757a3f946705567bce482c42,0xe592427a0aece92de3edee1f18e0157c05861564,Swap,NaN,783.758828,3101.947357,NaN,3101.947357,783.758828,3.957783,3101.947357,9.305842,56844.748922,6.156889,5.975279,NaN,nan
41,0x6d3946a602d78e4a1473c67b5b742f66b0b1acd3,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,256.468301,NaN,NaN,67.949320,256.468301,67.949320,3.774406,256.468301,0.769405,56844.748922,0.495254,0.494035,NaN,nan
42,0xfe2321d7dfa492dfc39330e8b85e7c49161e7f98,0xc36442b4a4522e871399cd717abdd847ab11fe88,Burn (Remove),NaN,NaN,51837.471513,13708.024674,51837.471513,13708.024674,3.774406,NaN,NaN,NaN,NaN,NaN,NaN,nan
43,0xfe2321d7dfa492dfc39330e8b85e7c49161e7f98,0xc36442b4a4522e871399cd717abdd847ab11fe88,Collect,NaN,NaN,51952.854040,13726.954926,51952.854040,13726.954926,3.774406,NaN,NaN,-46919.201866,NaN,NaN,NaN,Remove
44,0xfe2321d7dfa492dfc39330e8b85e7c49161e7f98,0xc36442b4a4522e871399cd717abdd847ab11fe88,Increase liquidity,27769.186518,7343.349952,NaN,NaN,27769.186518,7343.349952,3.774406,NaN,NaN,8566.766479,NaN,NaN,NaN,Add
45,0xfd36a5dc09d22d770dfa6093610b80295614bc79,0x0000e0ca771e21bd00057f54a68c30d400000000,Swap,NaN,5881.788678,12330.184516,NaN,12330.184516,5881.788678,2.096332,12330.184516,36.990554,8566.766479,381.938083,157.603830,NaN,nan
46,0xc538c9b34523f14f8f422046857f6f8e5f28eb0f,0xe592427a0aece92de3edee1f18e0157c05861564,Swap,NaN,38.245907,44.449502,NaN,44.449502,38.245907,1.162203,44.449502,0.133349,8566.766479,0.569764,0.568151,NaN,nan
47,0x87623a3cb948a1e1de1f13fe660eb2c96a52a6bc,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,NaN,42.116486,48.652756,NaN,48.652756,42.116486,1.155195,48.652756,0.145958,8566.766479,0.623810,0.621877,NaN,nan
48,0xfe2321d7dfa492dfc39330e8b85e7c49161e7f98,0xc36442b4a4522e871399cd717abdd847ab11fe88,Increase liquidity,146966.592016,89276.024437,NaN,NaN,146966.592016,89276.024437,1.155195,NaN,NaN,258664.579353,NaN,NaN,NaN,Add
49,0x74bc89a9e831ab5f33b90607dd9eb5e01452a064,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,Swap,100.000000,NaN,NaN,86.313139,100.000000,86.313139,1.158572,100.000000,0.300000,258664.579353,0.042342,0.042333,NaN,nan

In [115]:
# df1=df1.groupby('trx_initiator').apply(lambda x: (x['token0_in'] + (x['token1_in']*x['Spotprice'])).sum())
# df1
df1=df[df['event_name']=='Increase liquidity']
df1['asset_value'] = df1.token1_in*df1.Spotprice + df1.token0_in
holders = df1.pivot_table(index=df1.block_timestamp, columns='trx_initiator', values=['asset_value']).fillna(0)

C:\Users\zaurt\AppData\Local\Temp\ipykernel_3900\3839614299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['asset_value'] = df1.token1_in*df1.Spotprice + df1.token0_in

In [121]:
df2=df[df['event_name']=='Collect']
df2['asset_value'] = -(df2.token1_out*df2.Spotprice + df2.token0_out)
holders1 = -df2.pivot_table(index=df2.block_timestamp, columns='trx_initiator', values=['asset_value']).fillna(0)
pd.concat([holders,holders1]).fillna(0).cumsum().asset_value['0x0d0aca99686fced8e6fb39134aaed96f09b5283c'].unique()

C:\Users\zaurt\AppData\Local\Temp\ipykernel_3900\2711977313.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['asset_value'] = -(df2.token1_out*df2.Spotprice + df2.token0_out)

array([ 0.        , 14.24848427])

In [ ]:
###################################################################################################

In [ ]:
# df['Spotprice']=np.where((df['event_name'] == 'Swap')&(df['token0_in'].isna()), 
#          (df['token0_out']/df['token1_in']), 
#          np.where((df['event_name'] == 'Swap')&(df['token1_in'].isna()),
#         (df['token0_in']/df['token1_out']), 
#         np.where(
#     (df['event_name'] == 'Increase liquidity') & (df['event_name'].shift(1) == 'Initialize'),
#     df['token0_in'] / df['token1_in'],np.nan)))
# df['Spotprice'] = df['Spotprice'].ffill(axis=0)
# df['Volume'] = np.where(
#     (df['event_name'] == 'Swap') & (df['token0_in'].isna()),
#     df['token1_in']*df['Spotprice'],
#     np.where(
#         (df['event_name'] == 'Swap') & (df['token1_in'].isna()), 
#         df['token0_in'],np.nan)
#         )
# df['fee']=df['Volume']*0.003
# df1 = df[df['event_name'] != 'Burn (Remove)']
# df['Tvl']=np.cumsum(df1.fillna(0)['token0_in'] - df1.fillna(0)['token0_out'] + (df1.fillna(0)['token1_in'] - df1.fillna(0)['token1_out']) *df1.Spotprice)
# # df1=df.resample('D',on='block_timestamp')[['fee','Volume','Tvl']].mean().reset_index()
# df['Apy']=(((1+df['fee']/df['Tvl'])**365)-1)*100
# df['Apr']=(df['fee']/df['Tvl'])*365*100
# df

In [ ]:
# df['Spotprice']=0
# for i in range(len(df)):
#     if df['event_name'][i]=='Swap':
#         if pd.isna(df['token0_in'][i]):
#             df['Spotprice'][i]+=((df['token0_out'][i]/df['token1_in'][i])*0.997)
#         elif pd.isna(df['token1_in'][i]):
#              df['Spotprice'][i]+=((df['token0_in'][i]/df['token1_out'][i])*0.997)
#     else:
#         df['Spotprice'][i]+=np.nan
# df['fee']=0
# df['Volume']=0
# for j in range(len(df)):
#     if df['event_name'][j]=='Swap':
#         if pd.isna(df['token0_in'][j]):
#             df['fee'][j]+=abs(df['token0_out'][j]-(df['token1_in'][j]*df['Spotprice'][j]))
#             df['Volume'][j]+=df['token1_in'][j]*df['Spotprice'][j]
#         elif pd.isna(df['token1_in'][j]):
#              df['fee'][j]+=abs(df['token0_in'][j]-(df['token1_out'][j]*df['Spotprice'][j]))
#              df['Volume'][j]+=df['token0_in'][j]
#     else:
#         df['fee'][j]+=np.nan
#         df['Volume'][j]+=np.nan
# df['Spotprice']=df['Spotprice'].ffill(axis=0)
# df
# for k in range(len(df)):
#     if df['event_name'][k]=='Increase liquidity' and df['event_name'][k-1]=='Initialize':
#         df['Spotprice'][k]=((df['token0_in'][k]/df['token1_in'][k]))
# df['Spotprice'].ffill(axis=0)

In [ ]:
# df1 = df[df['event_name'] != 'Burn (Remove)']
# df['Tvl']=np.cumsum(df1.fillna(0)['token0_in'] - df1.fillna(0)['token0_out'] + (df1.fillna(0)['token1_in'] - df1.fillna(0)['token1_out']) *df1.Spotprice)
# df1=df.resample('D',on='block_timestamp')[['fee','Volume','Tvl']].mean().reset_index()
# df1['Volume'] = df1.Volume / 0.997
# df

In [ ]:
# df1=df.resample('D',on='block_timestamp')[['fee','Volume','Tvl']].mean().reset_index()
# df1['Volume'] = df1.Volume / 0.997
# df1

In [ ]:
# import plotly.graph_objects as go
# import plotly.express as px

# # fig = go.Figure(go.Scatter(
# #     mode = "lines+markers",
# #     y = df1['fee'],
# #     x = df1['block_timestamp']))
# fig = px.bar(x=df1['block_timestamp'], y=df1['fee'])

# # fig.update_layout(
# #     margin=dict(l=100, r=100, t=100, b=100),
# #     width=2000,
# #     height=500)


# fig.show()

In [ ]:
# import plotly.express as px
# fig = px.bar(x=df1['block_timestamp'], y=df1['Volume'])
# fig.show()

In [ ]:
# import plotly.express as px
# fig = px.bar(x=df1['block_timestamp'], y=df1['Tvl'])
# fig.show()

In [ ]:
# import pandas as pd 
# import numpy as np
# df=pd.read_csv('usdc_spot.csv',parse_dates=['block_timestamp'])
# df=df.sort_values(by=['block_timestamp','transaction_index','log_index'])
# df=df.reset_index()
# df['Spotprice']=0
# for i in range(len(df)):
#     if df['event_name'][i]=='Swap':
#         if pd.isna(df['token0_in'][i]):
#             df['Spotprice'][i]+=((df['token0_out'][i]/df['token1_in'][i])*0.997)
#         elif pd.isna(df['token1_in'][i]):
#              df['Spotprice'][i]+=((df['token0_in'][i]/df['token1_out'][i])*0.997)
#     else:
#         df['Spotprice'][i]+=np.nan
# df['fee']=0
# df['Volume']=0
# for j in range(len(df)):
#     if df['event_name'][j]=='Swap':
#         if pd.isna(df['token0_in'][j]):
#             df['fee'][j]+=abs(df['token0_out'][j]-(df['token1_in'][j]*df['Spotprice'][j]))
#             df['Volume'][j]+=df['token1_in'][j]*df['Spotprice'][j]
#         elif pd.isna(df['token1_in'][j]):
#              df['fee'][j]+=abs(df['token0_in'][j]-(df['token1_out'][j]*df['Spotprice'][j]))
#              df['Volume'][j]+=df['token0_in'][j]
#     else:
#         df['fee'][j]+=np.nan
#         df['Volume'][j]+=np.nan
# df['Spotprice']=df['Spotprice'].ffill(axis=0)
# df
# for k in range(len(df)):
#     if df['event_name'][k]=='Increase liquidity' and df['event_name'][k-1]=='Initialize':
#         df['Spotprice'][k]=((df['token0_in'][k]/df['token1_in'][k]))
# df['Spotprice'].ffill(axis=0)
# df1 = df[df['event_name'] != 'Burn (Remove)']
# df['Tvl']=np.cumsum(df1.fillna(0)['token0_in'] - df1.fillna(0)['token0_out'] + (df1.fillna(0)['token1_in'] - df1.fillna(0)['token1_out'])* df1.Spotprice)
# df1=df.resample('D',on='block_timestamp')[['fee','Volume','Tvl']].mean().reset_index()
# df1['Volume'] = df1.Volume / 0.997
# df

In [ ]:
# moneys = {
#     "100":5,
#     "50":4,
#     "20":3,
#     "10":2,
#     "5":4,
#     "1":2
# }

# users = [
#     {
#         "name":"Zaur",
#         "password":4545,
#         "balance":200
#     },
#         {
#         "name":"Nurlan",
#         "password":4543,
#         "balance":300
#     },
#         {
#         "name":"Ehmed",
#         "password":4500,
#         "balance":10,
#     },
#         {
#         "name":"Elmir",
#         "password":2486,
#         "balance":874
#     },
# ]

In [ ]:
# def mebleg():
#     c=0
#     for z,t in moneys.items():
#         c+=(int(z)*t)
#     return c
# summa=mebleg()
# name=input('adinizi daxil edin:')
# for i in users:
#     for j,k in i.items():
#         if j=='name' and k==name:
#             kod=int(input('password daxil edin:'))
#         elif j=='password' and k==kod:
#             process=int(input('balans yoxlama:0,pul cixartma:1'))
#         elif j=='balance' and process==0:
#             if name in i.values():
#                 print(list(i.values())[-1])
#         elif process==1:
#             mebleg=int(input('mebleg daxil edin:'))
#             if mebleg>summa:
#                 print('s')
#             else:

In [ ]:
# locked_df = pd.DataFrame({'Asset': ['ETH', 'BTC', 'LINK'], 'Amount Locked': [100, 50, 200]})
# price_df = pd.DataFrame({'Asset': ['ETH', 'BTC', 'LINK'], 'Current Price': [2000, 50000, 30]})
# merged_df = locked_df.merge(price_df, on="Asset")
# merged_df["TVL"] = merged_df["Amount Locked"] * merged_df["Current Price"]
# merged_df

In [ ]:
# if :
#     if
# elif 
#     if